@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: darkblue;
  &:hover {
    color: cornflowerblue;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: skyblue;

    &:hover {
      color: lightblue;
    }
  }
}

h3,
p {
  -webkit-user-select: none;
  user-select: none;
}

p.indented {
  text-indent: 1rem;
}
.waiting {
  width: 50%;
  &:after {
    animation: ellipsis 1s infinite;
    content: "";
  }

  @keyframes ellipsis {
    25% {
      content: ".";
    }
    50% {
      content: "..";
    }
    75% {
      content: "...";
    }
  }
}
